# Ignore large dataset files and folder
Datasets/
combined_cic_ids2017.csv
preprocessed_cic_ids2017_10percent_regressor.csv
preprocessed_cic_ids2017_regressor.csv
__pycache__/
nids_xgboost_regressor_model.pkl


